* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper {
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
    justify-content: left;
    gap: 20px;
}

.header {
    font-size: 1.75em;
    margin-bottom: 15px;
    color: #1CAC78;
}

.author {
    font-size: 1.25em;
    margin-bottom: 10px;
    color: grey;
}

.shortDescription {
    margin-bottom: 50px;
}

.price {
    margin: 7.5px 20px;
    font-size: 1.2em;
}

.detailsWrapper1 {
    padding: 7.5px 20px;
    width: 50%;
    border: 1px solid rgb(194, 194, 194);
}

.detailsWrapper2 {
    padding: 7.5px 20px;
    width: 50%;
    border: 1px solid rgb(194, 194, 194);
    margin-top: none;
}

.quantityWrapper {
    margin-right: 50px;
}

.quantityWanted {
    width: 10%;
    height: 15px;
    margin-left: 5px;
    text-align: center;
}

.addToCart {
    padding: 5px 10px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    background: #FDDA0D;
    color: #1F75FE;
    border-radius: 5px;
    border: none;
    box-shadow: 2.5px 2.5px 2.5px #000;
}

.addToCart:hover {
    cursor: pointer;
    background: #fecb00;
}

.stock {
    font-size: 0.8em;
    color: #E31837;
    margin: 5px 20px;
}