.imgWrapper {
    display: flex;
    justify-content: center;
}

.homeBanner {
    width: 75%;
    height: auto
}

.wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

