.imgWrapper {
    display: flex;
    justify-content: center;
}

.homeBanner {
    width: 75%;
    max-width: 1250px;
    height: auto;
}

.wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

